h1, h2, p {
    text-align: center;
}

h1, h2 {
    margin: 0.25em;
}

.profile_buttons div {
    display: inline;
}

.profile_buttons {
    width: fit-content;
    margin: auto;
}

.profile_buttons div {
    display: inline;
}

.button {
    background-color: #092735;
    color: #d7eefd;
    padding: 5px 10px;
    border-color: #d7eefd;
}

.amogus {
    margin: 0 auto;
    max-width: fit-content;
}

body {
    background-color: #031c27;
    color: #d7eefd;
    font-family: Tahoma, Verdana, sans-serif;
    width: 100%;
    margin: 0;
}
