/* v1.1.c */

.header {
    background: #092735;
    margin: 3rem 0 3rem 0;
    padding: 1.75rem 0;
}

body {
    background-color: #031c27;
    color: #d7eefd;
    font-family: Tahoma, Verdana, sans-serif;
    width: 100%;
    margin: 0;
}

h1, h2, h3, p {
    text-align: center;
}

.header h1 {
    font-size: 3.5rem;
    margin: 0;
}

.header h2 {
    margin: 0;
}

h3 {
    margin: 2.5em 0 2em 0;
}

.button {
    display: block;
    background-color: #71a0bf;
    color: #092735;
    font-size: large;
    padding: 1em 2em;
    margin: 0.5em 0.5em;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 600;
}

.button:hover {
    background-color: #71a0bfc0;
}

.button:active {
    background-color: #71a0bfa0;
}

.portfolio_buttons {
    display: flex;
    width: 80%;
    height: 100px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    background-color: #092735;
    border-radius: 3px;
    overflow: auto;
}

footer {
    font-size: 0.6rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}



.light-mode {
    background-color: #d7eefd;
    color: #031c27;
}

.dark-mode {
    background-color: #031c27;
    color: #d7eefd;
}
