h1, h2, p {
    text-align: center;
}

h1, h2 {
    margin: 0.25em;
}

.header {
    background: #092735;
    margin-top: 1rem;
    padding: 1rem 0;
}

.amogus {
    margin: 0 auto;
    max-width: fit-content;
}

body {
    background-color: #031c27;
    color: #d7eefd;
    font-family: Tahoma, Verdana, sans-serif;
    width: 100%;
    margin: 0;
}
